@use "tailwindcss";
@use '@angular/material' as mat;


html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: [Poppins, Roboto],
    density: 0,
  ));
}

:root {
  --neutral-200: #E3E8EF;
  --primary-600: #155EEF;
  --neutral-50: #F8FAFC;
  --neutral-100: #EEF2F6;
  --neutral-700: #364152;
  --neutral-600: #4B5565;
  --neutral-900: #121926;
  --warning-600: #FEF0C7;
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Inter, Poppins, Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0px;
  color: var(--neutral-600, #4B5565);
  text-align: left;
  background-color: var(--neutral-50, #F8FAFC);
  opacity: 1;
}
